table, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

button{
    width: 100%;
    height: 100%;
}

.levelSelect{
    height: 150px;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

.levelTable{
    margin-right: auto;
    margin-left: auto;
}

.gap{
    color: #FFFFFF;
    text-align:center;
}

.gridButton{
    font-size: 30px;
    height: 150px;
    width: 150px;
}